* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: beige;
   color: rgb(27, 36, 212);
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

header {
    background-color: rgb(20, 46, 194); 
    color: rgb(255, 255, 255);
    padding: 40px;
    width: 100%;
    font-size: large;
    text-align: center;
    display: flex;
    font-size: xx-large;
}
h1 u {
    margin-left: 100px;
}

.up p {
    text-align: center;
    padding: 100px;
    margin: auto;
    font-size: x-large;
    font-style: normal;
    font-weight: 400;
    
}


button {
    width: 20%;
    padding: 10px;
    background-color: #020602;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    text-align: center;
    
   
  }